<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/articles/create/" method="GET">
    <div>
      <label for="title">제목</label>
      <input type="text" id="title" name="title">
    </div>
    <div>
      <label for="content">내용</label>
      <input type="textarea" id="content" name="content">
    </div>
    <button type="submit">글 작성하기!</button>
  </form>
</body>
</html>